.topnav {
    background-color: #171717;
    overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  text-color: #171717;
  color: black;
}

.topnav a.active {
  text-color: #fff;
  color: white;
}